.secondaries-news{
	article.animeIt {
		opacity: 0;

	}
	article.animeIt-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 1s all ease;
	}
	article{
		background: $bg-transparent;
		padding: 10px;
		margin: 20px 10px 0 10px;
		flex-grow: 1;
		min-height:100px;    
		width: calc(100% * (1/2) - 20px);
		text-align: right;
	}
}
